.colorOfWord{
	color :red;



}



.imageSet{
  text-align :center;
  border:solid;
	width : 100px;
	height :100px;
  display : inline-block; 

}

.imageSet img{
	width :100%;
	height : 80%;
  


}


#charactersSelect{
   width : 960px;
   min-height : 150px ;



}

#defence{
   width : 960px;
   min-height : 120px ;



}

#selectEnemy{
  width : 960px;
  min-height : 100px ;


}



.modified{
  max-height : 3rem;
  

}

.listHuman{
  background-color: red;

}

.listGuy{
   background-color: green;

}

.changeCol{
  background-color: yellow;


}